# P(A|B) = P(A)P(B|A) / P(B)
### P(A) - prior probability
### P(A|B) - posterior probability
### P(B|A) - likelihood
### P(B) - total probability of the data
### A - hypothese
### B - data

## Bayesian update is a process of using data and a prior probability to compute a posterior probability.

In [1]:
import pandas as pd
table = pd.DataFrame(index=['Bowl 1', 'Bowl2'])

In [2]:
table['prior'] = 1/2, 1/2
table

        prior
Bowl 1    0.5
Bowl2     0.5

In [4]:
table['likelihood'] = 3/4, 1/2
table

        prior  likelihood
Bowl 1    0.5        0.75
Bowl2     0.5        0.50

In [5]:
table['unnorm'] = table['prior'] * table['likelihood']
table

        prior  likelihood  unnorm
Bowl 1    0.5        0.75   0.375
Bowl2     0.5        0.50   0.250

In [6]:
prob_data = table['unnorm'].sum()
prob_data

0.625

In [7]:
table['posterior'] = table['unnorm'] / prob_data
table

        prior  likelihood  unnorm  posterior
Bowl 1    0.5        0.75   0.375        0.6
Bowl2     0.5        0.50   0.250        0.4

# The Dice Problem

In [8]:
table2 = pd.DataFrame(index=[6, 8, 12])

In [9]:
from fractions import Fraction

In [10]:
table2['prior'] = Fraction(1, 3)
table2['likelihood'] = Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)
table2

   prior likelihood
6    1/3        1/6
8    1/3        1/8
12   1/3       1/12

In [11]:
def update(table):
    """Compute the posterior probabilities"""
    table['unnorm'] = table['prior'] *table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [12]:
prob_data = update(table2)

In [13]:
table2

   prior likelihood unnorm posterior
6    1/3        1/6   1/18       4/9
8    1/3        1/8   1/24       1/3
12   1/3       1/12   1/36       2/9

# The Monthy Hall Problem

In [14]:
table3 = pd.DataFrame(index=['Door1', 'Door2', 'Door3'])
table3['prior'] = Fraction(1, 3)
table3

      prior
Door1   1/3
Door2   1/3
Door3   1/3

In [15]:
table3['likelihood'] = Fraction(1, 2), 1, 0
table3

      prior likelihood
Door1   1/3        1/2
Door2   1/3          1
Door3   1/3          0

In [16]:
update(table3)
table3

      prior likelihood unnorm posterior
Door1   1/3        1/2    1/6       1/3
Door2   1/3          1    1/3       2/3
Door3   1/3          0      0         0

# Exercise 2-1

In [19]:
coins = pd.DataFrame(index=['coin1', 'coin2'])
coins['prior'] = Fraction(1, 2), 1
coins

      prior
coin1   1/2
coin2     1

In [21]:
coins['likelihood'] = Fraction(1, 2)
coins

      prior likelihood
coin1   1/2        1/2
coin2     1        1/2

In [22]:
update(coins)
coins

      prior likelihood unnorm posterior
coin1   1/2        1/2    1/4       1/3
coin2     1        1/2    1/2       2/3

# Exercise 2-2

In [23]:
child = pd.DataFrame(index=['g_g', 'g_b', 'b_g', 'b_b'])
child['prior'] = Fraction(1,4)
child

    prior
g_g   1/4
g_b   1/4
b_g   1/4
b_b   1/4

In [24]:
child['likelihood'] = Fraction(1, 3), 0, 0,0
child

    prior likelihood
g_g   1/4        1/3
g_b   1/4          0
b_g   1/4          0
b_b   1/4          0

In [26]:
update(child)
child

    prior likelihood unnorm posterior
g_g   1/4        1/3   1/12         1
g_b   1/4          0      0         0
b_g   1/4          0      0         0
b_b   1/4          0      0         0

# Exercise 2-3

In [27]:
table4 = pd.DataFrame(index=['Door1', 'Door2', 'Door3'])
table4['prior'] = Fraction(1, 3)
table4

      prior
Door1   1/3
Door2   1/3
Door3   1/3

In [ ]:
table4['likelihood'] =

# Exercise 2-4

In [33]:
mms = pd.DataFrame(index=['B1_94/B2_96 ', 'B1_96/B2_94'])

In [34]:
mms['prior'] = Fraction(1, 2)
mms

             prior
B1_94/B2_96    1/2
B1_96/B2_94    1/2

In [37]:
mms['likelihood'] = 0.2*0.2, 0.1*0.14
mms

             prior  likelihood unnorm posterior
B1_94/B2_96    1/2       0.040   0.02  0.740741
B1_96/B2_94    1/2       0.014  0.007  0.259259

In [38]:
update(mms)
mms

             prior  likelihood unnorm posterior
B1_94/B2_96    1/2       0.040   0.02  0.740741
B1_96/B2_94    1/2       0.014  0.007  0.259259