In [1]:
from empiricaldist import Pmf

In [2]:
coin = Pmf()
coin['heads'] = 1/2
coin['tails'] = 1/2
coin

heads    0.5
tails    0.5
dtype: float64

In [3]:
die = Pmf.from_seq([1,2,3,4,5,6])
die

1    0.166667
2    0.166667
3    0.166667
4    0.166667
5    0.166667
6    0.166667
Name: proportion, dtype: float64

In [4]:
letters = Pmf.from_seq(list(('Malaka')))
letters

M    0.166667
a    0.500000
k    0.166667
l    0.166667
Name: proportion, dtype: float64

In [5]:
letters('t')

0

In [6]:
letters('M')

0.16666666666666666

In [7]:
die([1, 3, 8])

array([0.16666667, 0.16666667, 0.        ])

# The Cookie Problem Revisited

In [8]:
prior = Pmf.from_seq(['Bowl1', 'Bowl2'])
prior

Bowl1    0.5
Bowl2    0.5
Name: proportion, dtype: float64

In [9]:
likelihood_vanila = [0.75, 0.5]
posterior = prior * likelihood_vanila
posterior

Bowl1    0.375
Bowl2    0.250
Name: proportion, dtype: float64

In [10]:
posterior.normalize()

0.625

In [11]:
posterior

Bowl1    0.6
Bowl2    0.4
Name: proportion, dtype: float64

In [12]:
posterior('Bowl1')

0.6

In [14]:
posterior *= likelihood_vanila
posterior.normalize()
posterior

Bowl1    0.692308
Bowl2    0.307692
Name: proportion, dtype: float64

In [15]:
likelihood_chocolate = [0.25, 0.5]

In [16]:
posterior *= likelihood_chocolate
posterior.normalize()
posterior

Bowl1    0.529412
Bowl2    0.470588
Name: proportion, dtype: float64

# 101 Bowls

In [17]:
import numpy as np

In [18]:
hypos = np.arange(101)

In [19]:
prior = Pmf(1, hypos)
prior.normalize()

101

In [20]:
prior.head()

0    0.009901
1    0.009901
2    0.009901
dtype: float64

In [21]:
likelihood_vanila = hypos / 100
likelihood_vanila[:5]

array([0.  , 0.01, 0.02, 0.03, 0.04])

In [22]:
posterior1 = prior * likelihood_vanila
posterior1.normalize()
posterior1.head()

0    0.000000
1    0.000198
2    0.000396
dtype: float64